body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }

@media (min-width: 768px) {
  #wd-kanbas .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.wd-margin-left {
    margin-left: 100px;
  }

body {
    margin: 0;  padding: 0;
  }
  body * {
    font-family: Arial, Helvetica, sans-serif;
  }
  .btn-secondary {
    --bs-btn-color: #000;
    --bs-btn-bg: #c7cdd1;
    --bs-btn-border-color: #c7cdd1;
    --bs-btn-hover-color: #fff;
  }
  .bg-secondary {
    background-color: #c7cdd1 !important;
  }
  .border-gray {
    border: 1px solid gray;
  }
  .border-green {
    border: 1px solid green;
  }
  
  .green-border-left {
    border-left: 5px solid green;
}

  